
* {
  text-decoration: none;
  border: none;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* color pallete */

  /* primary  */

  --primary-900: #022009;
  --primary-800: #044012;
  --primary-700: #07601a;
  --primary-600: #098023;
  --primary-500: #0ba02c;
  --primary-400: #0ba02c;
  --primary-300: #3cb356;
  --primary-200: #9dd9ab;
  --primary-100: #ceecd5;
  --primary-50: #e7f6ea;

  /* secondary */

  --secondary-900: #332100;
  --secondary-800: #664200;
  --secondary-700: #996300;
  --secondary-600: #cc8400;
  --secondary-500: #ffa500;
  --secondary-400: #ffb733;
  --secondary-300: #ffc966;
  --secondary-200: #ffdb99;
  --secondary-100: #ffedcc;
  --secondary-50: #fff6e6;

  /* accent */

  --accent-900: #2d1010;
  --accent-800: #5a2020;
  --accent-700: #863131;
  --accent-600: #b34141;
  --accent-500: #e05151;
  --accent-400: #e05151;
  --accent-300: #eb8080;
  --accent-200: #efa0a0;
  --accent-100: #f4bfbf;
  --accent-50: #f9e0e0;

  /* neutral */

  --neutral-900: #18191c;
  --neutral-800: #303030;
  --neutral-700: #424242;
  --neutral-600: #616161;
  --neutral-500: #757575;
  --neutral-400: #999999;
  --neutral-300: #b3b3b3;
  --neutral-200: #cccccc;
  --neutral-100: #e0e0e0;
  --neutral-50: #f5f5f5;

  /* tetiary */

  --tertiary-900: #0d47a1;
  --tertiary-800: #1565c0;
  --tertiary-700: #1976d2;
  --tertiary-600: #1e88e5;
  --tertiary-500: #2196f3;
  --tertiary-400: #42a5f5;
  --tertiary-300: #64b5f6;
  --tertiary-200: #90caf9;
  --tertiary-100: #bbdefb;
  --tertiary-50: #e3f2fd;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
